/* Özel stilleriniz */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined' !important;
  font-variation-settings: 'wght' 300, 'opsz' 20 !important;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #e2e8f0; border-radius: 10px; }
